
<div>
    <div class="text-center">
        <div class="fw-bold border-bottom" style="padding-top:10px;">
            <h1 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
                Administrador
            </h1>
        </div>
    </div>
    <table id="acaoAdmin" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th style="color: #53672A;">Ação</th>
                <th style="color: #53672A;">Descrição</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-action="Register" asp-controller="Home">Cadastrar novo usuário</a></td>
                <td>
                    <p>Adiciona um novo usuário ao portal</p>
                </td>
            </tr>
             <tr>
                <td><a asp-action="ListUsers" asp-controller="Home">Listar usuários</a></td>
                <td>
                    <p>Listar usuários do portal</p>
                </td>
            </tr>

        </tbody>
    </table>
    

</div>


