@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Bem vindo!</h1>
    <h6>Portal da programação do NSPS da Neoenergia PE.</h6>
    <p>Faça o login para poder ter acesso às funcionalidades do portal.</p>
</div>
