@{
    ViewData["Title"] = "Home Page";
    ViewData["WalletMenu"] = "active";
    Layout = "_Layout";
}

@section Styles{
    <link  rel="stylesheet" href='~/lib/fullcalendar/lib/main.css' asp-append-version="true" />
    <link href='~/lib/bootstrap/dist/css/bootstrap-icons.css' rel='stylesheet' asp-append-version="true" />
    <link rel="stylesheet" href='~/css/calendar.css' asp-append-version="true" />
}

<div class="text-center" >
    <div class="fw-bold border-bottom" style="padding-top:10px;">
        <h1 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
            Saturação
        </h1>
    </div>
    <table class="table">
        <tr>
            <th scope="col" style="background-color:  #61A60E;color: #fff;"></th>
            <th scope="col" style="background-color:  #61A60E;color: #fff;">Total</th>
            <th scope="col" style="background-color:  #61A60E;color: #fff;">SE</th>
            <th scope="col" style="background-color:  #61A60E;color: #fff;">LT</th>
            <th scope="col" style="background-color:  #61A60E;color: #fff;">AUT</th>
            <th scope="col" style="background-color:  #61A60E;color: #fff;">TLE</th>
        </tr>
        <tr>
            <th style="background-color:  #61A60E;color: #fff;">HH Disp.</th>
            <th id="dispTot" style="color: #5F6971;">0</th>
            <th id="dispSE" style="color: #5F6971;">0</th>
            <th id="dispLT" style="color: #5F6971;">0</th>
            <th id="dispAUT" style="color: #5F6971;">0</th>
            <th id="dispTLE" style="color: #5F6971;">0</th>
        </tr>
        <tr>
            <th style="background-color:  #61A60E;color: #fff;">HH Nec.</th>
            <th id="necTot" style="color: #5F6971;">0</th>
            <th id="necSE" style="color: #5F6971;">0</th>
            <th id="necLT" style="color: #5F6971;">0</th>
            <th id="necAUT" style="color: #5F6971;">0</th>
            <th id="necTLE" style="color: #5F6971;">0</th>
        </tr>
        <tr>
            <th style="background-color: #61A60E;color: #fff;">HH (%)</th>
            <th id="satTot" style="color: #5F6971;">0%</th>
            <th id="satSE" style="color: #5F6971;">0%</th>
            <th id="satLT" style="color: #5F6971;">0%</th>
            <th id="satAUT" style="color: #5F6971;">0%</th>
            <th id="satTLE" style="color: #5F6971;">0%</th>
        </tr>
    </table>
</div>
<div class="text-center">
    <div class="fw-bold">
        <h2 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
            Filtros
        </h2>
    </div>
</div>
<div class="row" style="margin-bottom:10px;">
     <div class="col-md-3">
        <label for="setor" class="fw-bold" style="color: #53672A;">Setor</label>
        <select name= "setor" id="setor" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o setor">
            <option selected></option>
            <option value="1">Interior</option>
            <option value="2">Litoral</option>
            <option value="3">Metropolitano</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="npl" class="fw-bold" style="color: #53672A;">NPL</label>
        <select name= "npl" id="npl" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione a NPL">
            <option selected></option>
            <option value="1">CAA</option>
            <option value="8">CPN</option>
            <option value="2">GAN</option>
            <option value="7">MTN</option>
            <option value="6">MTS</option>
            <option value="3">PMR</option>
            <option value="4">PTU</option>
            <option value="5">SRT</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="month" class="fw-bold" style="color: #53672A;">Mês</label>
        <select name="month" id="month" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o mês">
            <option selected></option>
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="processo" class="fw-bold" style="color: #53672A;">Processo</label>
        <select name="processo" id="processo" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o processo">
            <option selected></option>
            <option value="SE">Subestação</option>
            <option value="LT">Linhas</option>
            <option value="AUT">Automação</option>
            <option value="TLE">Linha Viva</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <div class="fw-bold">
            <h2 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
                Calendário
            </h2>
        </div>
    </div>
    <div id="calendar" class="fc fc-unthemed fc-ltr"></div>
</div>
 

@section Scripts {
    <script src="~/lib/fullcalendar/lib/main.min.js"></script>
    <script src='~/lib/fullcalendar/lib/locales/pt-br.js'></script>
    <script src="~/js/Carteira/carteira.js"></script>
}