@{
    ViewData["Title"] = "Home Page";
    ViewData["WalletMenu"] = "active";
    Layout = "_Layout";
}

@section Styles{
    <link  rel="stylesheet" href='~/lib/fullcalendar/lib/main.css' asp-append-version="true" />
    <link href='~/lib/bootstrap/dist/css/bootstrap-icons.css' rel='stylesheet' asp-append-version="true" />
    <link rel="stylesheet" href='~/css/calendar.css' asp-append-version="true" />
}

<div class="text-center">
    <table class="table">
        <tr>
            <th scope="col"></th>
            <th scope="col">Total</th>
            <th scope="col">SE</th>
            <th scope="col">LT</th>
            <th scope="col">AUT</th>
            <th scope="col">TLE</th>
        </tr>
        <tr>
            <th>HH Disp.</th>
            <th id="dispTot">10</th>
            <th id="dispSE">10</th>
            <th id="dispLT">10</th>
            <th id="dispAUT">A10</th>
            <th id="dispTLE">10</th>
        </tr>
        <tr>
            <th>HH Nec.</th>
            <th id="necTot">1</th>
            <th id="necSE">110</th>
            <th id="necLT">110</th>
            <th id="necAUT">10</th>
            <th id="necTLE">10</th>
        </tr>
        <tr>
            <th>HH (%)</th>
            <th id="satTot">10%</th>
            <th id="satSE">10%</th>
            <th id="satLT">10%</th>
            <th id="satAUT">10%</th>
            <th id="satTLE">10%</th>
        </tr>
    </table>
</div>
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-4">
        <label for="npl" class="fw-bold">NPL</label>
        <select name= "npl" id="npl" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione a NPL">
            <option selected></option>
            <option value="1">CAA</option>
            <option value="8">CPN</option>
            <option value="2">GAN</option>
            <option value="7">MTN</option>
            <option value="6">MTS</option>
            <option value="3">PMR</option>
            <option value="4">PTU</option>
            <option value="5">SRT</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="month" class="fw-bold">Mês</label>
        <select name="month" id="month" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o mês">
            <option selected></option>
            <option value="01">Janeiro</option>
            <option value="02">Fevereiro</option>
            <option value="03">Março</option>
            <option value="04">Abril</option>
            <option value="05">Maio</option>
            <option value="06">Junho</option>
            <option value="07">Julho</option>
            <option value="08">Agosto</option>
            <option value="09">Setembro</option>
            <option value="10">Outubro</option>
            <option value="11">Novembro</option>
            <option value="12">Dezembro</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="processo" class="fw-bold">Processo</label>
        <select name="processo" id="processo" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o processo">
            <option selected></option>
            <option value="SE">Subestação</option>
            <option value="LT">Linhas</option>
            <option value="AUT">Automação</option>
            <option value="TLE">Linha Viva</option>
        </select>
    </div>
</div>

 <div id="calendar" class="fc fc-unthemed fc-ltr"></div>

@section Scripts {
    <script src="~/lib/fullcalendar/lib/main.min.js"></script>
    <script src='~/lib/fullcalendar/lib/locales/pt-br.js'></script>
    <script src="~/js/Carteira/carteira.js"></script>
}