
@model PortalProgramacao.Web.Models.Activity.AddOrEditActivityModel;

@{
    ViewData["Title"] = "Home Page";
    ViewData["DashMenu"] = "active";
}

@section Styles
{
    <link href='~/lib/bootstrap/dist/css/bootstrap-icons.css' rel='stylesheet' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/dist/css/select2.min.css' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/select2-bootstrap-5/select2-bootstrap-5-theme.min.css' asp-append-version="true" />
    <link rel="stylesheet" href="~/css/activity.css" asp-append-version="true"/>
}

<div>
    <div class="text-center" >
        <div class="fw-bold border-bottom" style="padding-top:10px;">
            <h1 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
                Dashboard de Saturação das Equipes
            </h1>
        </div>
    </div>
    <div class="row" style="padding-right: 0;">
        <div class="col col-md-1" style="padding-right: 0;">
            <h2 style="color: #fff; background-color:  #61A60E;">Mês</h2>
        </div>
        <div class="col col-md-2" style="padding-left: 0;">
            <select name="month" id="month" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione o mês">
                <option selected>Todos</option>
                <option value="01">Janeiro</option>
                <option value="02">Fevereiro</option>
                <option value="03">Março</option>
                <option value="04">Abril</option>
                <option value="05">Maio</option>
                <option value="06">Junho</option>
                <option value="07">Julho</option>
                <option value="08">Agosto</option>
                <option value="09">Setembro</option>
                <option value="10">Outubro</option>
                <option value="11">Novembro</option>
                <option value="12">Dezembro</option>
            </select>
        </div>
         <div class="col col-md-9">
            <h2 style="color: #fff;">Mês</h2>
         </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <div class="fw-bold text-center">
                <h3 style="color: #5c881A;background-color:  #D9D9D9;">Processos por Regionais</h3>
            </div>
            <div id="regionPerProc" style="min-height: 500px;min-width: 100px"></div>
        </div>
        <div class="col col-md-8">
            <div class="fw-bold text-center">
                <h3 style="color: #5c881A;background-color:  #D9D9D9;">Processos por NPL</h3>
            </div>
            <div id="nplPerProc" style="min-height: 500px;min-width: 100px"></div>
        </div>    
    </div>
</div>


@section Scripts 
{
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/echarts/js/echarts.min.js"></script>
    <script src="~/js/Dashboard/dashboard.js"></script>
    
}