
@model PortalProgramacao.Web.Models.Employee.AddOrEditEmployeeModel;

@{
    ViewData["Title"] = "Home Page";
    ViewData["EmployeeMenu"] = "active";
}

@section Styles
{
    <link href='~/lib/bootstrap/dist/css/bootstrap-icons.css' rel='stylesheet' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/dist/css/select2.min.css' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/select2-bootstrap-5/select2-bootstrap-5-theme.min.css' asp-append-version="true" />

}

<div>
    <div class="text-center" >
      <div class="fw-bold border-bottom" style="padding-top:10px;">
          <h1 style="color: #fff; background-color:  #61A60E;padding-bottom: 10px;">
              Adicionar Colaborador
          </h1>
      </div>
    </div>
    <form class="needs-validation" asp-controller="Employee" asp-action="Add" method="POST">
            <div class="row g-3">
                <div class="col-md-2">
                    <label asp-for="RegisterId" class="fw-bold" style="color: #53672A;">Matrícula</label>
                    <input type="text" class="form-control" id="registerId" asp-for="RegisterId" placeholder="Matrícula">
                    <span asp-validation-for="RegisterId" class="invalid-feedback"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Name" class="fw-bold" style="color: #53672A;">Nome</label>
                    <input type="text" class="form-control" id="name" asp-for="Name" placeholder="Nome">
                    <span asp-validation-for="Name" class="invalid-feedback"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="NplId" class="fw-bold" style="color: #53672A;">NPL</label>
                    <select asp-for="NplId" class="form-select form-control" aria-label=".form-select-sm select" data-placeholder="Selecione a NPL">
                        <option selected></option>
                        <option value="1" >CAA</option>
                        <option value="8" >CPN</option>
                        <option value="2" >GAN</option>
                        <option value="7" >MTN</option>
                        <option value="6" >MTS</option>
                        <option value="3" >PMR</option>
                        <option value="4" >PTU</option>
                        <option value="5" >SRT</option>
                    </select>
                    <span asp-validation-for="NplId" class="invalid-feedback"></span>
                </div>
                
                <label for="processos" class="fw-bold" style="color: #53672A;">Processos</label>
                <div id="processos" class="row g-3 border border-light rounded-3 border-3" style="padding-bottom: 10px;margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-3">
                        <label asp-for="SEPercentage" class="fw-bold" style="color: #53672A;">SE</label>
                        <input type="text" class="form-control proc" id="se" asp-for="SEPercentage" placeholder="SE">
                        <span asp-validation-for="SEPercentage" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="LTPercentage" class="fw-bold" style="color: #53672A;">LT</label>
                        <input type="text" class="form-control proc" id="lt" asp-for="LTPercentage" placeholder="LT">
                        <span asp-validation-for="LTPercentage" class="invalid-feedback"></span>
                    </div>

                    
                    <div class="col-md-3">
                        <label asp-for="AUTPercentage" class="fw-bold" style="color: #53672A;">AUT</label>
                        <input type="text" class="form-control proc" id="aut" asp-for="AUTPercentage" placeholder="AUT">
                        <span asp-validation-for="AUTPercentage" class="invalid-feedback"></span>
                    </div>
                    
                    <div class="col-md-3">
                        <label asp-for="TLEPercentage" class="fw-bold" style="color: #53672A;">TLE</label>
                        <input type="text" class="form-control proc" id="tle" asp-for="TLEPercentage" placeholder="TLE">
                        <span asp-validation-for="TLEPercentage" class="invalid-feedback"></span>
                    </div>
                </div>

                <label for="dias" class="fw-bold" style="color: #53672A;">Dias Disponíveis por Mês</label>
                <div id="dias" class="row g-3 border border-light rounded-3 border-3" style="padding-bottom: 10px;margin-left: 0px; margin-right: 0px;">
                    <div class="col-md-1">
                        <label asp-for="Jan" class="fw-bold" style="color: #53672A;">JAN</label>
                        <input type="text" class="form-control month" id="jan" asp-for="Jan" placeholder="Jan" >
                        <span asp-validation-for="Jan" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Fev" class="fw-bold" style="color: #53672A;">FEV</label>
                        <input type="text" class="form-control month" id="fev" asp-for="Fev" placeholder="Fev" >
                        <span asp-validation-for="Fev" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Mar" class="fw-bold" style="color: #53672A;">MAR</label>
                        <input type="text" class="form-control month" id="mar" asp-for="Mar" placeholder="Mar">
                        <span asp-validation-for="Mar" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Abr" class="fw-bold" style="color: #53672A;">ABR</label>
                        <input type="text" class="form-control month" id="abr" asp-for="Abr" placeholder="Abr" >
                        <span asp-validation-for="Abr" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Mai" class="fw-bold" style="color: #53672A;">MAI</label>
                        <input type="text" class="form-control month" id="mai" asp-for="Mai" placeholder="Mai" >
                        <span asp-validation-for="Mai" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Jun" class="fw-bold" style="color: #53672A;">JUN</label>
                        <input type="text" class="form-control month" id="jun" asp-for="Jun" placeholder="Jun" >
                        <span asp-validation-for="Jun" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Jul" class="fw-bold" style="color: #53672A;">JUL</label>
                        <input type="text" class="form-control month" id="jul" asp-for="Jul" placeholder="Jul" >
                        <span asp-validation-for="Jul" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Ago" class="fw-bold" style="color: #53672A;">AGO</label>
                        <input type="text" class="form-control month" id="ago" asp-for="Ago" placeholder="Ago" >
                        <span asp-validation-for="Ago" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Set" class="fw-bold" style="color: #53672A;">SET</label>
                        <input type="text" class="form-control month" id="set" asp-for="Set" placeholder="Set" >
                        <span asp-validation-for="Set" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Out" class="fw-bold" style="color: #53672A;">OUT</label>
                        <input type="text" class="form-control month" id="out" asp-for="Out" placeholder="Out" >
                        <span asp-validation-for="Out" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Nov" class="fw-bold" style="color: #53672A;">NOV</label>
                        <input type="text" class="form-control month" id="nov" asp-for="Nov" placeholder="Nov" >
                        <span asp-validation-for="Nov" class="invalid-feedback"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="Dez" class="fw-bold" style="color: #53672A;">DEZ</label>
                        <input type="text" class="form-control month" id="dez" asp-for="Dez" placeholder="Dez" >
                        <span asp-validation-for="Dez" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <div style="margin-top: 10px;padding-bottom: 30px;">
                <button type="submit" class="btn btn-primary float-end" >Salvar</button>
                <a asp-controller="Employee" asp-action="Index" role="button" class="btn btn-secondary float-end" style="margin-right: 5px;">Cancelar</a>
                
            </div>
            
    </form>
</div>


@section Scripts 
{
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/inputmask/dist/jquery.inputmask.min.js"></script>
    <script src="~/js/Employee/employee.add.js"></script>
}