
@{
    ViewData["Title"] = "Home Page";
    ViewData["EmployeeMenu"] = "active";
}

@section Styles
{
    <link href='~/lib/bootstrap/dist/css/bootstrap-icons.css' rel='stylesheet' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/dist/css/select2.min.css' asp-append-version="true" />
    <link  rel="stylesheet" href='~/lib/select2/select2-bootstrap-5/select2-bootstrap-5-theme.min.css' asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/datatables.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/employees.index.css" asp-append-version="true"/>
}


<div>
    <div class="text-center">
        <h1 class="display-4">Gerencie a lista de colaboradores</h1>
    </div>

        <div id="controllers" class="row controlers--div">
            <div class="col-sm-4">
                <div class="row">
                    <div class=col-sm-1>
                    <label for="npls">NPL:</label>
                    </div>
                    <div class="col-sm-11">
                        <select id="npls" class="form-select form-control" multiple aria-label=".form-select-sm multiple select" data-placeholder="Selecione a(s) NPL(s)">
                            <option></option>
                            <option value="1" >CAA</option>
                            <option value="8" >CPN</option>
                            <option value="2" >GAN</option>
                            <option value="7" >MTN</option>
                            <option value="6" >MTS</option>
                            <option value="3" >PMR</option>
                            <option value="4" >PTU</option>
                            <option value="5" >SRT</option>
                        </select>
                    </div>
                </div>
            </div>
        
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> Importar </button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#"><i class="bi bi-person-plus"></i>Novo</button>

                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#"> Exportar Selecionados</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#"> Excluir Selecionados</button>

                </div>

            </div>
            
        </div>
    </div>
    
    <div >
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th> <input type="checkbox" class="selectAll" name="selectAll" value="all"></th>
                        <th>Matrícula</th>
                        <th>Nome</th>
                        <th>NPL</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>U355117</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355107</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355107</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355102</td>
                        <td>Senior Javascript Developer</td>
                        <td>Edinburgh</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355108</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355133</td>
                        <td>Integration Specialist</td>
                        <td>New York</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355123</td>
                        <td>Sales Assistant</td>
                        <td>San Francisco</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355156</td>
                        <td>Integration Specialist</td>
                        <td>Tokyo</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355121</td>
                        <td>Javascript Developer</td>
                        <td>San Francisco</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355166</td>
                        <td>Software Engineer</td>
                        <td>Edinburgh</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355189</td>
                        <td>Office Manager</td>
                        <td>London</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355167</td>
                        <td>Support Lead</td>
                        <td>Edinburgh</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355135</td>
                        <td>Regional Director</td>
                        <td>San Francisco</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355178</td>
                        <td>Senior Marketing Designer</td>
                        <td>London</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>U355197</td>
                        <td>Regional Director</td>
                        <td>London</td>
                        <td>
                            <a href="#" class="" style="color: red;"><span style="color:red;"><i class="bi bi-trash"></i> </span> Deletar</a>
                            <a href="#" class="" style="color: black;"><i class="bi bi-pencil"></i> Editar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="import_form" asp-controller="Employee" asp-action="Import" method="POST" enctype="multipart/form-data">
            <div class="row">
                <label for="formFile" class="form-label">Default file input example</label>
                <input class="form-control" type="file" id="formFile" name="excel">
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" onclick="$('#import_form').submit()">Importar</button>
      </div>
    </div>
  </div>
</div>


@section Scripts 
{
    <script src="~/lib/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/datatables/datatables.min.js"></script>
    <script>
        $(document).ready(function() {       
          $( '#npls' ).select2({ theme: 'bootstrap-5' });

            let dTable= $('#example').DataTable({
                responsive: true,
                'language': {
                    'searchPlaceholder': 'Pesquise aqui',
                    url: '/js/datatable.pt_br.json'
                },
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']]

            });

            $(".selectAll").on("click", function (e) {
                if ($(this).is(":checked")) {
                    dTable.rows().select();
                } else {
                    dTable.rows().deselect();
                }
            });


        });

    </script>
}